@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap');
/*css variables*/
:root {
    --primary-font : 'Inter', sans-serif;
    --secondary-font : 'Macondo', cursive;
    --primary-color : #562929;
    --secondary-color : #aa9581;
    --highlight-color:#416a8e;
    --light-highlight-color:#7a9fc2;
}
/*global styles*/
body {
    font-family: var(--primary-font);

}
h1, h2, h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
    
}
h1, h2 {
    text-transform: uppercase;
}
h2 {
    margin-bottom: 2rem;
}
.sub-heading-color {
    color: var(--highlight-color);
}
.section {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}
/* navbar */
#navbar {
    background-color: var(--primary-color);
}
#navbar .logo {
    width: 35px;
    filter: brightness(0) invert(1);
}
/* header */
#header .lead {
    font-family: var(--secondary-font);
}
/*services section */
#services .card-footer {
    font-weight: bold;
    font-family: var(--highlight-color);
    background-color: transparent;
}
#services .card {
    margin-bottom: 1.5rem;
}
/* .container ,.row {
    border: 2px solid black;
}
.col-12 {
    border: 2px solid white;
    background-color: lightgray;
} */
 /* Game library cards */

#new-games .card,
#fav-games .card {
    border: none;
}
/* contact section */
#contact {
    background-color: var(--primary-color);
    color: white;
    padding-bottom: 3rem;
}
#contact h2 {
    color: white;
}
#contact .sub-heading-color {
    color: var(--highlight-color);
}
#contact i {
    color: var(--secondary-color);
}
@media screen and (min-width: 768px) {
    #services .card-body {
        min-height: 200px;
        margin-right: 15px;
    }
    
}
#contact .social-links i {
    font-size: 1.9rem;
    margin-right: 1rem;
}
#contact .social-links i:hover {
    color: var(--highlight-color);
}
/*opining hours table */
#contact .table-dark * {
    background-color: transparent;
}

@media screen and (min-width: 992px) {
    #services .card-body {
        min-height: auto;
    }
    
}
@media screen and (min-width: 1200px) {
    #services .card-body {
        min-height: 220px;
    }
    
}@media screen and (min-width: 1400px) {
    #services .card-body {
        min-height: 200px;
    }
    
}